<%=link_to "Add camera",new_camera_path(@camera)%>
<% @cameras.each do|camera|%>



<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><%=link_to camera.model, camera_path(camera)%></h5>
        <p class="card-text"><%=camera.description %></p>
        <%=link_to camera_path(camera), :action => 'go' do %>
        <div class="btn btn-primary">See More</div>
        <% end %>
    </div>
</div>

<%end%>
<%=link_to 'See camera with most reviews', most_review_path%>
